@import "../../styles.scss";
:host{
  margin-top: 2rem;
  margin-bottom: 2rem;
  .card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 50px;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 5px;
    @media (max-width: $breakpoint-phone) {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
    position: relative;
    width: calc(100% - 6rem);
    h5{
      text-align: center;
      vertical-align: middle;
      margin: auto;
    }
  }
  .card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }


  #container{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    .industry-list{
      overflow-y: scroll;
      max-height: 490px;
    }
    .industry-list::-webkit-scrollbar {
      display: none;
    }
  }
  #container::-webkit-scrollbar {
    display: none;
  }
}
