<div class="container" id="container">
	<div class="row">
		<h1 class="col-11">{{data.properties.name}}</h1>
		<mat-icon class="clickable" style="flex:auto;" (click)="close()">clear</mat-icon>
	</div>
	<div class="row">
		<div class="col-8 col-xs-12">
			<mat-tab-group mat-align-tabs="start">
				<mat-tab label="Pollution SO2" class="industry-list">
					SO2 Column Mass Density
					<div>
						<canvas baseChart
								[datasets]="industriesService.SO2CMASS"
								[options]="lineChartOptions"
								[chartType]="lineChartType"
								[colors]="lineChartColors"
								[labels]="lineChartLabelsSO2CMASS"
						>
						</canvas>

					</div>
					SO2 Surface Mass Concentration
					<div>

						<canvas baseChart
								[datasets]="industriesService.SO2SMASS"
								[options]="lineChartOptions"
								[chartType]="lineChartType"
								[colors]="lineChartColors"
								[labels]="lineChartLabelsSO2CMASS"
						>
						</canvas>
					</div>
				</mat-tab>
				<mat-tab label="Pollution CO2"  class="industry-list">

					CO Column Burden kg m-2
					<div>
						<canvas baseChart
								[datasets]="industriesService.COCL"
								[options]="lineChartOptions"
								[chartType]="lineChartType"
								[colors]="lineChartColors"
								[labels]="lineChartLabelsCO2"
						>
						</canvas>
					</div>
					CO Emission kg m-2 s-1
					<div>
						<canvas baseChart
								[datasets]="industriesService.COEM"
								[options]="lineChartOptions"
								[chartType]="lineChartType"
								[colors]="lineChartColors"
								[labels]="lineChartLabelsCO2"
						>
						</canvas>
					</div>
					CO Chemical Loss kg m-2s-1
					<div>
						<canvas baseChart
								[datasets]="industriesService.COLS"
								[options]="lineChartOptions"
								[chartType]="lineChartType"
								[colors]="lineChartColors"
								[labels]="lineChartLabelsCO2"
						>
						</canvas>
					</div>
					CO Chemical Production kg m-2 s-1
					<div>
						<canvas baseChart
								[datasets]="industriesService.COPD"
								[options]="lineChartOptions"
								[chartType]="lineChartType"
								[colors]="lineChartColors"
								[labels]="lineChartLabelsCO2"
						>
						</canvas>
					</div>
					CO Surface Concentration in ppbv 1e-9
					<div>
						<canvas baseChart
								[datasets]="industriesService.COSC"
								[options]="lineChartOptions"
								[chartType]="lineChartType"
								[colors]="lineChartColors"
								[labels]="lineChartLabelsCO2"
						>
						</canvas>
					</div>

				</mat-tab>
				<mat-tab label="Third">Content 3</mat-tab>
			</mat-tab-group>


		</div>
		<div class="col-4 col-xs-12 industry-list">
			<div *ngFor="let industry of industriesService.industries; let i = index" class="card card-1 clickable" [ngStyle]="{'background-color': getColor(i)}" (click)="selectIndustry(industry)">
				<h5>{{industry.name}}</h5>
			</div>
		</div>
	</div>

</div>

