<div class="container" id="container">
	<div class="row">
		<h1 class="col-11">{{data.properties.name}}</h1>
		<mat-icon class="clickable" style="flex:auto;" (click)="close()">clear</mat-icon>
	</div>
	<div class="row">
		<div class="col-8">
			<mat-radio-group aria-label="Select an option">
				<mat-radio-button value="1" style="padding-right: 20px">By day</mat-radio-button>
				<mat-radio-button value="2">By month</mat-radio-button>
			</mat-radio-group>
			<div class="col-12  industry-list">
				<mat-tab-group mat-align-tabs="start">
					<mat-tab label="Pollution SO2" class="industry-list">
						SO2 Column Mass Density
						<div>
							<canvas baseChart
									[datasets]="industriesService.SO2CMASS"
									[options]="lineChartOptions"
									[chartType]="lineChartType"
									[colors]="lineChartColors"
									[labels]="lineChartLabelsSO2CMASS"
							>
							</canvas>

						</div>
						SO2 Surface Mass Concentration
						<div>

							<canvas baseChart
									[datasets]="industriesService.SO2SMASS"
									[options]="lineChartOptions"
									[chartType]="lineChartType"
									[colors]="lineChartColors"
									[labels]="lineChartLabelsSO2CMASS"
							>
							</canvas>
						</div>
					</mat-tab>
					<mat-tab label="Pollution CO2" class="industry-list">

						CO Column Burden kg m-2
						<div>
							<canvas baseChart
									[datasets]="industriesService.COCL"
									[options]="lineChartOptions"
									[chartType]="lineChartType"
									[colors]="lineChartColors"
									[labels]="lineChartLabelsCO2"
							>
							</canvas>
						</div>
						CO Emission kg m-2 s-1
						<div>
							<canvas baseChart
									[datasets]="industriesService.COEM"
									[options]="lineChartOptions"
									[chartType]="lineChartType"
									[colors]="lineChartColors"
									[labels]="lineChartLabelsCO2"
							>
							</canvas>
						</div>
						CO Chemical Loss kg m-2s-1
						<div>
							<canvas baseChart
									[datasets]="industriesService.COLS"
									[options]="lineChartOptions"
									[chartType]="lineChartType"
									[colors]="lineChartColors"
									[labels]="lineChartLabelsCO2"
							>
							</canvas>
						</div>
						CO Chemical Production kg m-2 s-1
						<div>
							<canvas baseChart
									[datasets]="industriesService.COPD"
									[options]="lineChartOptions"
									[chartType]="lineChartType"
									[colors]="lineChartColors"
									[labels]="lineChartLabelsCO2"
							>
							</canvas>
						</div>
						CO Surface Concentration in ppbv 1e-9
						<div>
							<canvas baseChart
									[datasets]="industriesService.COSC"
									[options]="lineChartOptions"
									[chartType]="lineChartType"
									[colors]="lineChartColors"
									[labels]="lineChartLabelsCO2"
							>
							</canvas>
						</div>

					</mat-tab>
					<mat-tab label="Economic data">Gross inland deliveries coal
						<div>
							<canvas baseChart
									[datasets]="industriesService.coalImp"
									[options]="lineChartOptions"
									[chartType]="lineChartType"
									[colors]="lineChartColors"
									[labels]="lineChartLabels"
							>
							</canvas>

						</div>
						Refinery intake crude oil
						<div>
							<canvas baseChart
									[datasets]="industriesService.oilImp"
									[options]="lineChartOptions"
									[chartType]="lineChartType"
									[colors]="lineChartColors"
									[labels]="lineChartLabels"
							>
							</canvas>
						</div>
						Air passenger transport
						<div>
							<canvas baseChart
									[datasets]="industriesService.airTrDataS"
									[options]="lineChartOptions"
									[chartType]="lineChartType"
									[colors]="lineChartColors"
									[labels]="lineChartLabels"
							>
							</canvas>
						</div>
					</mat-tab>
					<mat-tab label="Government actions">CORONAVIRUS GOVERNMENT RESPONSE
						<div>
							<canvas baseChart
									[datasets]="industriesService.governmentResp"
									[options]="lineChartOptions"
									[chartType]="lineChartType"
									[colors]="lineChartColors"
									[labels]="lineChartLabelsGv"
							>
							</canvas>

						</div>

					</mat-tab>
				</mat-tab-group>


			</div>
		</div>
		<div class="col-4 col-xs-12 industry-list">
			<h2 style="color:  #2F3061">Industries Health</h2>
			<mat-form-field class="example-form-field">
				<mat-label>Search Industry</mat-label>
				<input matInput type="text" [(ngModel)]="search">

			</mat-form-field>
			<div *ngFor="let industry of industriesService.industries; let i = index" class="card card-1 clickable" [ngStyle]="{'background-color': getColor(i)}" (click)="selectIndustry(industry)">
				<h5>{{industry.name}}</h5>
			</div>
		</div>
	</div>

</div>

