:host{
  nav{
    background-color: #2F3061;
    min-height: 5rem;

    #logo{
      color: #FFE66D;
      font-size: 5rem;
    }
    #logo:focus{
      outline: none;
    }
    .mat-icon{
      height: inherit;
    }
  }
}
